*.whl
*.zip
*.egg-info/
build/
checkpoints/
checkpoints-*/
checkpoints_*/
checkpoint/
checkpoint-*/
checkpoint_*/
decord/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*result*
*output*
*.log
*temp*
.cache/
.vscode/
.devcontainer/
datasets
datasets/
scripts/.utils/
# *test*
fast_onevision/eval/videos/demo.avi
_FAST_VIDEO/